body{
  margin:10px;
  display:flex;
  justify-content:center;
  align-items: center;
  height:100vh;
} 

.box{
  width: 100px;
  height: 100px;
  background:gold;
}

/*
.box:hover{
  
transform: perspective(200px) translateZ(50px);

transform: perspective(200px) rotateY(45deg);

transform-origin: 0 0;

transform-origin: 0 50%;
}
*/


/*
.container:hover{
  
  
  transform: perspective(200px) rotateY(45deg);
  
  transform-origin: 0 50%;
  }
  */

.container{
  perspective: 200px;
}


.container:hover .box{
  
  
  transform:  rotateY(45deg);
  
  transform-origin: 0 50%;
  }

.container:hover .box-special{
  transform: rotateX(45deg);
}